# RETRO ROLEPLAY V1 - VDS & VERİTABANI BAĞLANTI AYARLARI
PORT=5000
NODE_ENV=production

# VDS Veritabanı Bilgileri
DB_HOST=45.143.11.113
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456gg
DB_NAME=retro

# JWT & Güvenlik Anahtarları
JWT_ACCESS_SECRET=retro_roleplay_v1_super_secure_jwt_secret_key_2026
JWT_REFRESH_SECRET=retro_roleplay_v1_refresh_secret_key_2026

# İstemci & Sunucu Bilgileri
MTA_SERVER_IP=45.143.11.113:22003
CLIENT_URL=https://retroroleplay.vercel.app
